:root {
  --brand-color: black;
  --bg-color: white;
  @media (prefers-color-scheme: dark) {
    /* styles for dark mode */

    --brand-color: #9b9999;
    --bg-color: #292929;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  :not(input) {
    user-select: none;
    -webkit-user-select: none;
  }
  .allow-select {
    user-select: text;
    -webkit-user-select: text;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }
}

.buttoned {
  @apply transition-all hover:(bg-stone-100) active:(bg-stone-300) dark:(hover:bg-stone-700);
}

// edit default vitepress theme
div[class*="language-"] {
  margin: 0;
  border-radius: 6px;
  pre {
    border-radius: 6px;
  }
}
