@import "./variables.scss";
// global styles
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--bg-color);
}

// iconfont-style
@font-face {
  font-family: "iconfont";
  src: url("/.vitepress/theme/assets/font/iconfont.woff2") format("woff2"),
    url("/.vitepress/theme/assets/font/iconfont.woff") format("woff"),
    url("/.vitepress/theme/assets/font/iconfont.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// edit default vitepress theme
div[class*="language-"] {
  margin: 0;
  border-radius: 6px;
  pre {
    border-radius: 6px;
  }
}
