:root {
  --primary-color: black;
  --bg-color: white;
  --border-bottom-color: #e2e8f0;
  @media (prefers-color-scheme: dark) {
    /* styles for dark mode */
    --c-text: #d4d4d4;

    --primary-color: #d4d4d4;
    --bg-color: #292929;
    --border-bottom-color: #aaabac;
  }
}
